<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Movie</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/camera.png" type="image/png">
</head>
<body>
<h1>Add a New Movie</h1>
<form action="/add_movie" method="POST">
    <label for="name">Movie name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="director">Director:</label><br>
    <input type="text" id="director" name="director" required><br><br>

    <label for="year">Year:</label><br>
    <input type="number" id="year" name="year" min="1750" max="{{ current_year }}" required><br><br>

    <label for="rating">Rating (0–10):</label><br>
    <input type="number" id="rating" name="rating" step="0.1" min="0" max="10" required><br><br>

    <button type="submit">Add Movie</button>
</form>
</body>
</html>
