<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a user</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/camera.png" type="image/png">
</head>
<body>
<main>
    <nav style="margin-bottom: 10px">
        <a class="nav_element" href="/">Home</a>
        <a class="nav_element" href="/users">All Users</a>
        <a class="nav_element" href="/add_movie">Add Movie</a>
        <a class="nav_element" href="/add_user">Add User</a>
    </nav>
    <h1>Add a new user</h1>
    <form action="/add_user" method="POST">
        <label for="name">User name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="birthday">Birthday:</label><br>
        <input type="date" id="birthday" name="birthday" required><br><br>
        <button type="submit">Add User</button>
    </form>
</main>
</body>
</html>
