<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieWebApp</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/camera.png" type="image/png">
</head>
<body>
<h1>Welcome to the MovieWeb App!</h1>
<div>
    <ul>
        {% for movie in movies %}
        <li>
            Title: {{ movie.name }} <br>
            Year: {{ movie.year }} <br>
            Director: {{ movie.director }} <br>
            Rating: {{ movie.rating }} <br>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
