<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MovieWebApp</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/camera.png" type="image/png">
</head>
<body>
<main>
    <nav style="margin-bottom: 10px">
        <a class="nav_element" href="/">Home</a>
        <a class="nav_element" href="/users">All Users</a>
        <a class="nav_element" href="/add_movie">Add Movie</a>
        <a class="nav_element" href="/add_user">Add User</a>
    </nav>
    <h1>Welcome to the MovieWeb App!</h1>
    <div>
        {% with message = get_flashed_messages()|first %}
        {% if message %}
        <div class="flash">{{ message }}</div>
        {% endif %}
        {% endwith %}
        <ul>
            {% for movie in movies %}
            <li>
                <div>
                    Title: {{ movie.name }} <br>
                    Year: {{ movie.year }} <br>
                    Director: {{ movie.director }} <br>
                    Rating: {{ movie.rating }} <br>
                </div>
                <div id="update-delete">
                    <a href="/update_movie?movie_id_select={{ movie.id }}" id="update-button">Update</a>
                    <form method="POST"
                          action="{{ url_for('delete_movie', movie_id=movie.id) }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
</body>
</html>
