<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update movie</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/camera.png" type="image/png">
</head>
<body>
<main>

<h1>Update Movie</h1>

<form action="/update_movie" method="POST">
    <label for="title">Movie Title:</label>
    <select id="title" name="title" required>
        <option value="">Select a movie</option>
        {% for movie in movies %}
        <option value="{{ movie.id }}">{{ movie.name }}
        </option>
        {% endfor %}

    </select><br><br>

    <label for="year">Year:</label>
    <input type="number" id="year" name="year" required><br><br>

     <label for="director">Director:</label>
    <input type="text" id="director" name="director" required><br><br>

    <label for="rating">Rating:</label>
    <input type="number" id="rating" name="rating" step="0.1" min="0" max="10" required><br><br>

    <input type="submit" value="Update Movie">
</form>
</main>


</body>
</html>