<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user }}'s favorite movies</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/camera.png" type="image/png">
</head>
<body>
<main>
    <nav>
        <a class="nav_element" href="/">Home</a>
        <a class="nav_element" href="/users/{{ user.id }}">My Favorites</a>
        <a class="nav_element" href="/users/{{ user.id }}/add_movie">Add Movie</a>
    </nav>
    <h1>{{ user.name }}'s Favorites List</h1>
    <div>
        {% with message = get_flashed_messages()|first %}
        {% if message %}
        <div class="flash">{{ message }}</div>
        {% endif %}
        {% endwith %}
        <ul>
            {% for movie in user_movies %}
            <li>
                <div>
                    Movie name: {{ movie.name }} <br>
                    Year: {{ movie.year }} <br>
                    Rating: {{ movie.rating }} <br>
                </div>
                <div>
                    <form method="POST"
                          action="{{ url_for('delete_movie_from_favs', user_id=user.id, movie_id=movie.id) }}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
</body>
</html>